body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(129, 129, 129);
    text-decoration: none;
}

#header {
    background-color: rgb(145, 138, 138);
    width: 100%;
    margin: 5px;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}

#header .profile img {
    display: flex;
    width: 180px;
    height: 180px;
    margin: 30px auto;
}

#profile-header {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#profile-header p {
    font-size: 15px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

#header .profile .social-links a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    background-color: grey;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

#header .profile .social-links a:hover {
    background-color: white;
    color: grey;
}


#header .profile #profile-header a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-menu {
    list-style: none;
    width: 100%;
    height: 50px;
    padding: 0;
    background: grey;
    max-width: 100px;
    margin: auto;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul i {
    right: 10px;
}

footer {
background-color: white;
height: 30px;
}

footer div a {
   color: rgb(110, 101, 101);
}

.container p {
    text-align: center;
    right: auto;
    height: auto;
    margin: 50px;
}